h1 {font-family: Cambria; color: rebeccapurple;
    text-align: center; 
}



p {font-family: Cambria;
color: red}

nav { text-align: center;
    font-family: Cambria;
color: magenta    
}

img { 
    max-width: 800px;
    height: auto;
}
h1#covid {
    text-align: center;
}

button { ; 
    background-color: lightskyblue;
}
div 