h1 {
    font-family: Cambria;
color: rebeccapurple}



p {font-family: Cambria;
color: red}

nav { text-align: center;
    font-family: Cambria;
color: magenta    
}


img { 
    max-width: 600px;
    height: auto;
}
